{% extends "main.twig" %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-2">
                <h1>WebShop</h1>
                {% if userid == NULL %}
                    <h4 class="my-4">Демо режим</h4>
                    <h6 class="my-4">Для оформления заказа</h6>
                    <h6 class="my-4">Войдите под своим аккаунтом</h6>
                {% else %}
                    <h4 class="my-4">Обычный режим</h4>
                    <h6 class="my-4">Обычный аккаунт</h6>
                {% endif %}
            </div>
            <div class="col-lg-10 pl-5 pr-5">
                <h1 class="text-lg-center mb-4">{{ title }}</h1>
                <p><b>Телефон:</b> +7(495)123-45-67</p>
                <p><b>Адрес:</b> г. Москва, улица Большая Ордынка, 22/2</p>
                <p><b>Email:</b> shop@shop.ru</p>
                <p>Мы один из самых крупных складов комплектующих для ноутбуков в Москве. Центральный офис нашей компании расположен в Москве, а филиалы находятся в нескольких крупных городах России и ближнего зарубежья: Санкт-Петербург, Саратов, Нижний Новгород, Волгоград, Омск, Минск. Отлаженная логистика позволяет максимально уменьшить сроки доставки по Москве и в регионы.</p>
                <div class="mt-5">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A05670a23ad49ae7680f9405717d02b51a24b07ec8fe58564455c3d899d0c8bde&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>    </div>
                <hr>
            </div>
        </div>

    </div>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}



